ДОГОВОР
КУПЛИ-ПРОДАЖИ ТРАНСПОРТНОГО СРЕДСТВА
(НОМЕРНОГО АГРЕГАТА)
г. Пермь                                                                                                                26.01.2015
Мы, Продавец Елисеев Алексей Олегович, паспорт серия 5707 № 200359 , выдан ОУФМС 15.03.2001, проживающий(ая) г. Пермь, ул. Степана Разина, 34
и Покупатель Кобяков Дмитрий Батькович, паспорт серия 5707 № 300259, выдан ОУФМС 04.11.2007, проживающий(ая) г. Чернушка, ул. Юбилейная, 40
заключили настоящий договор купли-продажи транспортного средства о нижеследующем:
Продавец продает принадлежащее ему транспортное средство (номерной агрегат):
Идент. № (VIN): __________
Марка, модель: _________
Тип ТС: ___________
Модель, № двигателя: ___________
Цвет: __________________
№ кузова: __________
№ шасси (рамы): _________	Паспорт ТС № __________________ 
выдан: ____________________
СТС № ____, выдан: _____________ 
Свидетельство регистрации авто: _____________________________
Год выпуска: _____
Государственный регистрационный знак: _________

стоимостью 150000 (сто пятьдесят тысяч) руб. 00 копеек и передает его в собственность Покупателю, а Покупатель принимает данное транспортное средство (номерной агрегат) и уплачивает его стоимость. Продавец передает покупателю транспортное средство (номерной агрегат) свободным от любых прав третьих лиц. Право собственности на транспортное средство (номерной агрегат) переходит к Покупателю с момента подписания настоящего договора.


Транспортное средство
(номерной агрегат) получил


______________________
(подпись покупателя)	Деньги в сумме 150000 (сто пятьдесят тысяч) руб. 00 копеек получены


______________________
(подпись продавца)
