<p style="text-align: center;"><strong>ДОГОВОР КУПЛИ-ПРОДАЖИ ТРАНСПОРТНОГО СРЕДСТВА (НОМЕРНОГО АГРЕГАТА)&nbsp;</strong></p>
<p>г. ____&nbsp;</p>
<p>дата ____ &nbsp;</p>
<p><br></p>
<p>Мы, Продавец ____, паспорт серия ____ № ____, выдан ____, проживающий(ая) ____ и Покупатель ____, паспорт серия ____ № ____, выдан ____, проживающий(ая) ____ заключили настоящий договор купли-продажи транспортного средства о нижеследующем:&nbsp;</p>
<p>Продавец продает принадлежащее ему транспортное средство (номерной агрегат):&nbsp;</p>
<p>Идент. № (VIN): ____&nbsp;</p>
<p>Марка, модель: ____&nbsp;</p>
<p>Тип ТС: ____&nbsp;</p>
<p>№ двигателя: ____&nbsp;</p>
<p>Цвет: ____&nbsp;</p>
<p>№ кузова: ____&nbsp;</p>
<p>№ шасси (рамы): ____</p>
<p>Паспорт ТС № ____ выдан: ____</p>
<p>СТС № ____, выдан: ____</p>
<p>&nbsp;Свидетельство регистрации авто: ____&nbsp;</p>
<p>Год выпуска: ____&nbsp;</p>
<p>Государственный регистрационный знак: ____&nbsp;</p>
<p>стоимостью ____ и передает его в собственность Покупателю, а Покупатель принимает данное транспортное средство (номерной агрегат) и уплачивает его стоимость.&nbsp;</p>
<p>Продавец передает покупателю транспортное средство (номерной агрегат) свободным от любых прав третьих лиц.&nbsp;</p>
<p>Право собственности на транспортное средство (номерной агрегат) переходит к Покупателю с момента подписания настоящего договора. Транспортное средство (номерной агрегат) получил</p>
<p>&nbsp;____________________________________ (подпись покупателя)</p>
<p>Деньги в сумме ____ получены</p>
<p>&nbsp;____________________________________ (подпись продавца)</p>
