<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
    	<meta name="description" content="Contract constructor online">
    	 {% if title %}
    	 <title>{{ title }}</title>
    	{% else %}
    	<title>Конструктор договоров онлайн</title>
		{% endif %}
		<style>
    		@import "/static/styles.css";
    		@import "/static/contracts.css";
			@import "/static/css/froala_editor.pkgd.min.css";
			@import "/static/css/froala_style.min.css";
		</style>
    	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    	<script type="text/javascript" src="/static/js/jquery.livequery.js"></script>
		<!-- Include external CSS. -->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">
	
		<!-- Include Editor style. -->
		
		</head>
	<body>
	<!--<div class = "container">-->
		<nav class="navbar navbar-default navbar-noradius">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="{{ url_for('index') }}">
						<p>IntellectLawyer</p>
					</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						{% if active %}
						<!--<li><a href="{{ url_for('index') }}">Войти</a></li>-->
						{% if active == 'contracts' %}<li class="active">{% else %}<li>{% endif %}<a href="{{ url_for('contracts') }}">Создать документ</a></li>
						{% if active == 'about' %}<li class="active">{% else %}<li>{% endif %}<a href="{{ url_for('about') }}">О сервисе</a></li>
						{% else %}
						<li><a href="{{ url_for('contracts') }}">Создать документ</a></li>
						<li><a href="{{ url_for('about') }}">О сервисе</a></li>
						{% endif %}
					</ul>	
					<div class = "navbar-right">
						{% if g.user.is_authenticated() %}
						<p class = "navbar-text"><a href = "{{ url_for('profile') }}">{{g.user.email}}</a></p>
						<a href = "{{ url_for('logout') }}"><button type="button" class="btn btn-default navbar-btn">Выйти</button></a>
						{% else %}
						<a href = "{{ url_for('login') }}"><button type="button" class="btn btn-default navbar-btn">Войти</button></a>
						<a href = "{{ url_for('register') }}"><button type="button" class="btn btn-info navbar-btn">Зарегистрироваться</button></a>
						{% endif %}
					</div>
				</div>
			</div>
		</nav>
		
			{% block main_block %}
			{% endblock %}
			
		<div class="footer text-center">
			<div class="container">
			<span>
				<p>&copy; IntellectLawyer 2017</p>
			</span>
			</div>
		</div>
	<!--</div>-->
	</body>
</html>
