<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
    	<meta name="description" content="Contract constructor online">
    	 {% if title %}
    	 <title>{{ title }}</title>
    	{% else %}
    	<title>Конструктор договоров онлайн</title>
		{% endif %}
		<style>
    		@import "/static/styles.css";
    		@import "/static/contracts.css";
		</style>
    	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    	<script type="text/javascript" src="/static/js/jquery.livequery.js"></script>
	</head>
	<body>
		<div class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="{{ url_for('index') }}">
						<p>Intellawyer</p>
					</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right nav-tabs">
						{% if active %}
						<li><a href="{{ url_for('index') }}">Войти</a></li>
						{% if active == 'contracts' %}<li class="active">{% else %}<li>{% endif %}<a href="{{ url_for('contracts') }}">Создать документ</a></li>
						{% if active == 'about' %}<li class="active">{% else %}<li>{% endif %}<a href="{{ url_for('about') }}">О сервисе</a></li>
						{% else %}
						<li><a href="{{ url_for('index') }}">Войти</a></li>
						<li><a href="{{ url_for('contracts') }}">Создать документ</a></li>
						<li><a href="{{ url_for('about') }}">О сервисе</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
		
			{% block main_block %}
			{% endblock %}
		
		<div class="footer text-center"">
			<div class="container">
			<span>
			<!--<p>{{active}}</p>-->
				<p>The Smart Lawyer online</p>
				<p>Flask/Python, LESS/Bootstrap, JavaScript/JQuery/Backbone, nginx, PostgreSQL, Ubuntu/Linux </p>
				<p>2015</p>
			</span>
			</div>
		</div>
	</body>
</html>
