{% extends "base.html"%}
{% block main_block %}
<div class="container container-height">
	<div>
		
		{% if categories %}
		<h4>Categories</h4>
		{% for category in categories %}
		<p><a href="{{ url_for('contracts', _category = category.slug) }}">{{category.name}}</a></p>
		{% endfor %}
		{% endif %}

		
		{% if types %}
		<h4>Types</h4>
		{% for type in types %}
		<p><a href="{{ url_for('contracts', _category = _category, _type = type.slug) }}">{{type.name}}</a></p>
		{% endfor %}
		{% endif %}

		
		{% if contracts %}
		<h4>Contracts</h4>
		{% for contract in contracts %}
		<p><a href="{{ url_for('contracts', _category = _category, _type = _type, _contract = contract.slug) }}">{{contract.name}}</a></p>
		{% endfor %}
		{% endif %}
	</div>
</div>
{% endblock %}